.file-preview-container {
    position: absolute;
    bottom: 60px;
    left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.file-preview-one {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.close-outline {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    color: red;
    background-color: white;
    border-radius: 50%;
}