.fullname {
    font-size: 20px;
    margin-top: 20px;
    line-height: 22px;
  }
  
  .content-friend {
    font-size: 14px;
    margin-top: -20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 140px;
    line-height: 16px;
  }
  .class-friend {
    display: flex;
    background-color: #FFFFFF;
    margin: 2px 0 0 0;
  }
  